/* style the Navbar menu  */
.container {
  width: auto;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  padding-bottom: 10px;
  /* text-align: center; */
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(51, 51, 51, 0.603);
  overflow-wrap: auto;
  text-align: center;
}

.form-control {
  text-align: center;
  width: 250px;
}

.box {
  width: auto;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.603);
  overflow-wrap: auto;
  text-align: center;
}

.title-text {
  color: white;
}

.sub-link-text {
  color: rgb(159, 204, 158);
}

.card {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(51, 51, 51, 0.603);
  overflow-wrap: auto;
}

.current {
  text-decoration: overline underline;
}

/* style the buttons  */
/* .menu {
  float: left;
  padding: 14px 16px;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
} */
