/* Style the navigation menu */
.Headbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  box-sizing: border-box;
}

/* Navigation links */
.Headbar link {
  float: left;
  padding: 12px;
  color: white;
  background-color: rgb(28, 59, 59);
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}
