.menu-box {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
  grid-template-rows: 50px;
  place-items: center;
  width: auto;
  justify-content: space-evenly;
  background-color: rgb(159, 204, 158);
  align-self: center;
  border-style: solid;
  border-color: #dd3dfd4f;
}

.menu-text {
  color: rgb(3, 0, 0);
  font-weight: bold;
}

.current {
  text-decoration: overline underline;
  text-decoration-thickness: 3px;
  color: rgb(251, 253, 99);
}
