.menu-box {
  display: grid;
  width: auto;
  grid-template-columns: 200px 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
  background-color: #fff024dc;
  color: white;
}

.menu-box {
  align-self: center;
}
